sudo: required
language: java
dist: trusty
jdk: openjdk8
addons:
   sonarcloud:
        organization: nsimonin1-github
        token:
            secure: $SONAR_TOKEN
script:
  - ./mvnw clean install -B
  - ./mvnw clean org.jacoco:jacoco-maven-plugin:prepare-agent package sonar:sonar
deploy:
    provider: heroku
    api_key: $HEROKU_API_KEY
before_install:
  - chmod +x mvnw
